<nav class="nav">
	<div class="nav-container">
		<a href="{{ "/" | relURL }}">
			<h2 style= "text-align:center" class="nav-title">{{ .Site.Title }}</h2>
		</a>
		<!--Blake added this.-->
		<div style="padding-bottom:2em;" class="nav-container">

		{{ $related := .Site.Pages.Related . | first 5 }}
		{{ with $related }}

<ul>
			{{ range . }}
			<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{ end }}
		</ul>
		{{ end }}
		</div>
		<!--end of Blake's addition.-->


		{{ partial "header-menu.html" . }}
	</div>
</nav>
